/* tables */
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 9pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 9pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#FFF;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: turquoise;//#8dbdd8;
}

table.tablesorter tbody tr:hover {
	background-color: #8dbdd8;//#ffff99;
}

table.tablesorter tbody tr:nth-child(odd) {
	background-color: #FFF;
}
table.tablesorter tbody tr:nth-child(even) {
	background-color: #F0F0F0;
}

/* for search buttons */
button{
        color: white;
        border-radius: 5px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
		margin-top: 4px;
		padding: 5px 25px;
		background: #4d8abe;/* this is a slightly dark blue */
}

button:hover {
	cursor: pointer;
	background: #7ba9d0;/* this is slightly light blue */
}

button:focus {
    background: rgb(66, 184, 221); /* this is a light blue */
    box-shadow: 0px 0px 1px #777;
}
